<script>
import { defineComponent } from 'vue';
import VueCamera from '@/vue-camera.vue';

export default defineComponent({
  name: 'ServeDev',
  components: {
    VueCamera
  }
});
</script>

<template>
  <div id="app">
    <vue-camera />
  </div>
</template>
