<template>
  <div>
    <el-dialog
      :model-value="show"
      @open="openCamera"
      @close="setModelValue(false)"
      :title="title"
      :width="width"
      :fullscreen="fullscreen"
      :top="top"
      :modal="modal"
      :draggable="draggable"
    >
      <div class="camera_box">
        <div class="iamge_list_box">
            <img v-for="item in cameraOptions.imageList" :key="item" :src="item" class="camera_preview_image" alt="">
        </div>
        <video ref="videoRef" v-show="cameraOptions.showVideo"></video>
        <canvas ref="canvasRef" v-show="cameraOptions.showCanvas"></canvas>
      </div>
      <template #footer>
        <div class="dialog-footer">
          <el-button @click="setModelValue(false)">取消</el-button>
          <el-button type="primary" @click="takePhoto"> 拍照 </el-button>
          <el-button type="primary" v-if="!mode"> 上传 </el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import { reactive, ref, watch } from "vue";

const cameraOptions = reactive({
  isFirefox: false,
  showVideo: false,
  showCanvas: false,
  stream: null,
  imageList: []
});
const videoRef = ref(null);
const canvasRef = ref(null);

const emits = defineEmits([
  "update:show",
  "getUserMediaError",
  "open",
  "opened",
  "close",
  "closed",
  "open-auto-focus",
  "close-auto-focus",
  "updataSuccess",
  "updataError",
]);
const { show, url, mode, title, width, fullscreen, top, modal, draggable } =
  defineProps({
    show: {
      // type: Object,
      default: false,
    },
    url: {
      type: String,
      default: "",
    },
    mode: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
      default: "拍照上传",
    },
    width: {
      // type: String,
      default: "50%",
    },
    fullscreen: {
      type: Boolean,
      default: false,
    },
    top: {
      // type: Boolean,
      default: "15vh",
    },
    modal: {
      type: Boolean,
      default: true,
    },
    draggable: {
      type: Boolean,
      default: false,
    },
  });
const setModelValue = (e) => {
  emits("update:show", e);
};
const openCamera = () => {
  getUserVideo();
  emits("open");
};
//
const getUserVideo = (func) => {
  const callback = func;
  navigator.getUserMedia =
    navigator.getUserMedia ||
    navigator.webkitGetUserMedia ||
    navigator.mozGetUserMedia ||
    navigator.msGetUserMedia;
  // 判断当前浏览器是否为火狐（Firefox）
  cameraOptions.isFirefox = navigator.userAgent.indexOf("Firefox") !== -1;
  if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // 获取媒体设备信息
    navigator.mediaDevices
      .getUserMedia({
        audio: false,
        video: true,
      })
      .then(function (stream) {
        // 成功获取媒体设备信息
        // 处理stream对象，例如显示视频流或处理音频数据
        cameraOptions.stream = stream;
        videoRef.value.srcObject = stream;
        console.log(stream);
        cameraOptions.showVideo = true;
        videoRef.value.play();
      })
      .catch(function (error) {
        // 获取媒体设备信息失败
        emits("getUserMediaError");
        console.log("Error accessing media devices:", error);
      });
  } else {
    emits("getUserMediaError", "getUserMedia is not supported in this browser");
  }
  //   if (navigator.getUserMedia) {
  //     navigator.getUserMedia(
  //       {
  //         audio: false,
  //         video: {
  //           width: 1350,
  //           height: 800,
  //         },
  //       },
  //       function (res) {
  //         if (document.querySelector(".Photo_video")) {
  //           cameraOptions.video = document.querySelector(".Photo_video");
  //           video.style.display = "block";
  //         } else {
  //           cameraOptions.video = document.createElement("video");
  //           // document.querySelector('body').appendChild(video)
  //         }
  //         if (document.querySelector(".Photo_canvas")) {
  //           cameraOptions.canvas = document.querySelector(".Photo_canvas");
  //         } else {
  //           cameraOptions.canvas = document.createElement("canvas");
  //         }
  //         layer.open({
  //           type: 1, // page 层类型
  //           area: ["100%", "100%"],
  //           title: "拍摄",
  //           shade: 0.6, // 遮罩透明度
  //           shadeClose: true, // 点击遮罩区域，关闭弹层
  //           maxmin: true, // 允许全屏最小化
  //           anim: 0, // 0-6 的动画形式，-1 不开启
  //           content:
  //             '<div class="photo_box" style="padding:0 32px;width:100%;height:100%;display:flex;justify-content: center;align-items: center;"></div>',
  //           btn: ["拍摄"],
  //           btn1: function (index, layero) {
  //             var event = window.event || arguments.callee.caller.arguments[0];
  //             cameraOptions.takePhoto(event, function (error, data) {
  //               if (error) {
  //               } else {
  //                 callback(data);
  //               }
  //             });
  //             if (!cameraOptions.continued) {
  //               layer.closeAll();
  //             }
  //             // layer.closeAll()
  //           },
  //           //关闭摄像头.并停止在video上继续播放媒体信息
  //           end: function () {
  //             if (cameraOptions.stream && cameraOptions.video) {
  //               cameraOptions.stream.getTracks().forEach(function (item) {
  //                 item.stop();
  //               });
  //               cameraOptions.video.srcObject = null;
  //             }
  //           },
  //         });
  //         cameraOptions.canvas.style.display = "none";
  //         var element = document.querySelector(".photo_box");
  //         element.appendChild(cameraOptions.video);
  //         element.appendChild(cameraOptions.canvas);
  //         cameraOptions.stream = res;
  //         cameraOptions.video.srcObject = res;
  //         cameraOptions.video.className = "Photo_video";
  //         if (cameraOptions.isFirefox) {
  //           cameraOptions.video.style.width = "70%";
  //           cameraOptions.video.style.height = "100%";
  //         } else {
  //           cameraOptions.video.style.width = 1350;
  //           cameraOptions.video.style.height = 800;
  //         }
  //         // cameraOptions.video.style.objectFit = 'cover'
  //         cameraOptions.canvas.className = "Photo_canvas";
  //         cameraOptions.width = cameraOptions.video.clientWidth;
  //         cameraOptions.height = cameraOptions.video.clientHeight;
  //         cameraOptions.video.play();
  //       },
  //       function (err) {
  //         if (err.name == "NotReadableError" || err.name == "TrackStartError") {
  //           layer.msg("媒体设备正在被占用，请关闭其他正在使用媒体设备的程序");
  //         } else if (
  //           err.name === "NotAllowedError" ||
  //           err.name == "PermissionDeniedError"
  //         ) {
  //           layer.msg("获取授权失败！请授权");
  //           window.open("https://help.wiki361.com/", "_blank");
  //         } else if (
  //           err.name === "NotFoundError" ||
  //           err.name === "DevicesNotFoundError"
  //         ) {
  //           layer.name("无法找到媒体设备信息");
  //         }
  //       }
  //     );
  //   } else {
  //     layer.msg("您的设备暂无或不支持媒体设备");
  //   }
};

/**
 * @name 拍照。创建canvas元素并获取上下文环境。将video当前帧绘制到canvas元素内。使用canvas的toDataURL方法将canvas内容转为base64编码。转成form-data对象进行上传。
 * @method getContext 获取canvas上下文
 * @method drawImage 绘制canvas
 * @method toDataURL canvas内容转为base64编码
 * @method dataURLtoBlob base64转为blob对象
 * @name 如果在上传之前需要将拍摄后的照片进行预览可将创建好的canvas元素插入到指定dom下 document.querySelector('body').appendChild(canvas)
 *  **/
const takePhoto = (event, callback) => {
  setStartStyle();
  const ctx = canvasRef.value.getContext("2d");
  canvasRef.value.width = videoRef.value.clientWidth;
  canvasRef.value.height = videoRef.value.clientHeight;
  ctx.drawImage(
    videoRef.value,
    0,
    0,
    videoRef.value.clientWidth,
    videoRef.value.clientHeight
  );
  const image = canvasRef.value.toDataURL("image/jpeg", 1);
  cameraOptions.imageList.push(image);
  const dataUrl = dataURLtoBlob(image);
  const formData = new FormData();
  formData.append("fileDocuments", dataUrl, "camera.jpeg");
  fetch(url, {
    method: "POST",
    body: formData,
  })
    .then((resp) => {
      if (resp.ok) {
        return resp.json();
      } else {
        emits("updataError", resp);
        throw new Error("上传失败");
      }
    })
    .then((data) => {
      emits("updataSuccess", data);
    })
    .catch((err) => {
      emits("updataError", err);
      console.error(err);
    });
};

/**
 * @name base64转blob对象.先将url转为二进制数据。
 * @name 再获取url中的源数据文件类型。
 * @name 使用Uint8Array创建一个与解码后的二进制数据长度一致的数组。
 * @name 循环数据。使用String.charCodeAt方法获取字符串对应索引下的字符Unicode值赋值给对应的数组元素中。
 * @name 最后返回一个blob对象
 * @method atob 将base64编码数据转为二进制数据
 * @method Uint8Array 传入数值制作一个相对应长度的Uint8Array数组
 * @method String.charCodeAt 传入数值获取字符串对应索引下的字符Unicode值
 * @method Blob 构造函数传入存储二进制数据的数组缓冲区和文件类型
 *  **/
const dataURLtoBlob = (dataURL) => {
  var byteString;
  if (dataURL.split(",")[0].indexOf("base64") >= 0) {
    byteString = atob(dataURL.split(",")[1]);
  } else {
    byteString = unescape(dataURL.split(",")[1]);
  }
  var mimeString = dataURL.split(",")[0].split(":")[1].split(";")[0];
  var ia = new Uint8Array(byteString.length);
  for (var i = 0; i < byteString.length; i++) {
    ia[i] = byteString.charCodeAt(i);
  }
  return new Blob([ia.buffer], { type: mimeString });
};

const setEndStyle = (btn) => {
  cameraOptions.showVideo = true;
  cameraOptions.showCanvas = false;
};
const setStartStyle = (btn) => {
  cameraOptions.showVideo = false;
  cameraOptions.showCanvas = true;
};
</script>
<style scoped>
.iamge_list_box {
    display: flex;
    flex-wrap: wrap;
}
.camera_preview_image {
    transform: scale(.5);
}
</style>