<template>
  <div>
    <!-- <el-button :type="'primary'" @click="show1">点击</el-button>
    <Dialog v-model:show="dialogShow" /> -->
    <!-- <VueCamera /> -->
  </div>
</template>
<script setup>
import VueCamera from 'vue-camera-app'
import { ref } from "vue";
// import { ElButton } from 'element-plus'
import Dialog from "./test.vue";

const dialogShow = ref(false);
const show1 = () => {
  // console.log(dialogShow);
  dialogShow.value = true;
};
</script>